@import './base/global';
@import './base/mixin';
@import './modules/wrapper';
@import './modules/header';
@import './modules/footer';


body {
  height: 100vh;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  // background-color: rgb(89, 89, 89);
}

.scroe {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  
      .score-display {
        color: white;
        font-size: 60px;
        font-weight: bold;
      }
}
